@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

.postMessage {
    font-family: 'Source san pro';
    padding-top:20px
  }
.nickName{
    font-family: 'Josefin Sans', cursive;

}

.photo img {
    height: 70px;
    width: 70px;
    border-radius: 40px;
    
}

.wrapper{
display: block;
}
.authors{
    display: grid;
    grid-template-columns: 100px 1fr;

}

.postImage img{
height: 200px;
width: 450px;
margin-bottom: 20px;
}

.name{
    display: inline;
    
}
.nickName{
    display: inline;
    margin-left: 10px;
}
.date{
    display: inline;
    margin-left: 10px;
}